<!-- <app-invoices-form [invoiceId]="selectInvoiceId" [counterpartyId]="counterpartyId"
    [isEditInvoice]="isEditInvoice"></app-invoices-form> -->

<!-- <div style="margin-bottom: 10px;  display: flex;
    flex-direction: column;
    width: fit-content;">
    <label>Выберите столбцы для отображения:</label>
    <p-multiselect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header" optionValue="field"
        placeholder="Выбрать колонки" (onChange)="updateColumnVisibility()" selectedItemsLabel="{0} выбрано">
    </p-multiselect>
</div> -->


<div class="table-wrapper">
    <div #tableContainer class="table-container" (scroll)="onScroll($event)">

        <table class="invoice-table">
            <thead>
                <!-- Основная строка с группировками -->
                <!-- <tr>
                    <ng-container *ngFor="let group of columns">
                        <ng-container *ngIf="group.columns.length > 1">
                            <th style="text-align: center;" *ngIf="isGroupVisible(group)"
                                [attr.colspan]="group.columns.length" [style.width]="group.width">
                                {{ group.header }}
                            </th>
                        </ng-container>
                        <ng-container *ngIf="group.columns.length == 1">
                            <th></th>
                        </ng-container>
                    </ng-container>
                    <th *ngIf="actions.length > 0" [attr.rowspan]="2">Действия</th>
                </tr> -->

                <!-- Строка с конкретными колонками -->
                <tr>
                    <ng-container *ngFor="let group of columns">
                        <ng-container *ngIf="isGroupVisible(group)">
                            <ng-container *ngFor="let col of group.columns">
                                <th *ngIf="isColumnVisible(col)" [style.width]="col.width">
                                    <div
                                        style="display: flex; justify-content: space-between; align-items: center; gap: 10px; font-size: 13px;">
                                        {{ col.header }}
                                        <app-search-filter-sort *ngIf="col.type === 'string'" [filterField]="col.field"
                                            [filterType]="1"
                                            (filterChange)="productsServ.onFilterChange($event); scrollToTop()"
                                            (sortChange)="productsServ.onSortChange($event); scrollToTop()">
                                        </app-search-filter-sort>
                                        <app-date-filter *ngIf="col.type === 'date'" [filterField]="col.field"
                                            (filterChange)="productsServ.onFilterChange($event); scrollToTop()"
                                            (sortChange)="productsServ.onSortChange($event); scrollToTop()">
                                        </app-date-filter>
                                        <app-number-filter *ngIf="col.type === 'number'" [filterField]="col.field"
                                            (filterChange)="productsServ.onFilterChange($event); scrollToTop()"
                                            (sortChange)="productsServ.onSortChange($event); scrollToTop()">
                                        </app-number-filter>
                                        <app-uuid-search-filter-sort *ngIf="col.type === 'uuid'"
                                            [apiEndpoint]="col.endpoint" [fieldNames]="'name'" [enam]="null"
                                            [Field]="col.field" [filterType]="col.filterType"
                                            [searchField]="col.searchField"
                                            (filterChange)="productsServ.onFilterChange($event); scrollToTop()"
                                            (sortChange)="productsServ.onSortChange($event); scrollToTop()">
                                        </app-uuid-search-filter-sort>
                                        <app-uuid-search-filter-sort *ngIf="col.type === 'enam'" [fieldNames]="'label'"
                                            [enam]="statuses" [Field]="col.field" [filterType]="1"
                                            (filterChange)="productsServ.onFilterChange($event); scrollToTop()"
                                            (sortChange)="productsServ.onSortChange($event); scrollToTop()">
                                        </app-uuid-search-filter-sort>
                                    </div>
                                </th>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsServ.products" class="invoice-row">
                    <ng-container *ngFor="let col of viewDataColumns">
                        <td *ngIf="isColumnVisible(col)" class="invoice-cell" [style.width]="col.width"
                            (dblclick)="onRowDblClick($event, product, col.fieldView)">
                            <ng-container *ngIf="col.fieldView === 'dateTime'; ">
                                {{ product[col.fieldView] | date: 'dd-MM-yyyy' }}
                            </ng-container>
                            <ng-container *ngIf="col.type == 'number'">
                                {{formatingDataService.formatisNumber(product[col.field])}}
                            </ng-container>
                            <ng-container *ngIf="col.type != 'number'">
                                <ng-container *ngIf="col.field != 'DocInvoice.Status' && col.field != 'status'">
                                    {{ col.fieldView === 'docInvoiceStatus' ? getStatusLabel(product[col.fieldView]) :
                                    product[col.fieldView] }}
                                </ng-container>
                                <span *ngIf="col.field === 'DocInvoice.Status' || col.field === 'status'"
                                    [ngClass]="getStatusClass(product['docInvoiceStatus'])" class="status-tag">
                                    {{ getStatusLabel(product['docInvoiceStatus']) }}
                                </span>
                            </ng-container>

                        </td>
                    </ng-container>
                    <td *ngIf="actions.length > 0">
                        <button *ngFor="let action of actions" (click)="onActionClick(action.action, product)">
                            {{ action.label }}
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr style="  position: sticky; bottom: 27px;">
                    <!-- <ng-container *ngFor="let col of columns; let i = index">
                        <td *ngIf="isColumnVisible(col)" class="total-cell" [style.width]="col.width">
                            <ng-container *ngIf="getTotalValue(i) !== null; else emptyCell">
                                {{ formatingDataService.formatisNumber(getTotalValue(i)) }}
                            </ng-container>
                            <ng-template #emptyCell></ng-template>
                        </td>
                    </ng-container>
                    <td></td>
                    <td></td> -->
                    <td *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
                        {{ formatingDataService.formatisNumber(getTotalValue(index)) }}
                    </td>

                </tr>
                <tr style="  position: sticky; bottom: 0;">
                        <td *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
                        {{ formatingDataService.formatisNumber(getOldTotalValue(i)) }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>