<div class="container">
    <!-- Левое меню -->
    <app-counterparties-list (selectCounterparty)="onSelectCounterparty($event)"></app-counterparties-list>
  
    <!-- Правая часть -->
    <!-- <app-invoices-table *ngIf="selectedCounterpartyId" [counterpartyId]="selectedCounterpartyId"></app-invoices-table> -->

    <app-products [counterpartyId]="selectedCounterpartyId" 
    [columns]="columnsInvoices"
    [totalInfoColumn]="totalInfoColumnInvoices"
    [endpoint]="'api/CommercialWork/DocInvoice/Filter'"
    ></app-products>

  </div>
  