<div class="form-container">
    <div class="form-scope-header">
        <span>Счёт</span>
    </div>
    <div class="form-scope">
        <div class="section">
            <div class="p-field p-col-12">
                <label for="number">Номер счёта</label>
                <app-custom-input [(ngModel)]="selectScope.number"
                    placeholder="Введите номер фактуры"></app-custom-input>
            </div>
            <div class="p-field p-col-12" style="    display: flex; flex-direction: column;">
                <label for="dateTime">Дата</label>
                <p-calendar id="dateTime" [showTime]="false" dateFormat="dd-mm-yy" [(ngModel)]="selectScope.date">
                </p-calendar>
            </div>
        </div>
        <div class="section">
            <div class="p-field p-col-12">
                <label for="number">Наименование</label>
                <app-custom-input [(ngModel)]="selectScope.name" placeholder="Введите номер фактуры"></app-custom-input>
            </div>
            <div class="p-field p-col-12">
                <label for="dateTime">Сумма</label>
                <app-custom-input-number [min]="0" [(ngModel)]="selectScope.amount">
                </app-custom-input-number>
            </div>
        </div>
    </div>
</div>