<div class="menu">
    <button class="menu-item" (click)="switchComponent('arrival', 2)">Приход</button>
    <button class="menu-item" (click)="switchComponent('expense', 3)">Расход</button>
  </div>
  
  <app-invoices
    [counterpartyId]="'00000000-0000-0000-0000-000000000000'"
    [columns]="currentColumns"
    [paymentType]="paymentType"
    [buttonConfigs]="getButtonConfigs()"
    [totalInfoColumn]="totalInfoColumnInvoices"
    [generalForm]="true"
    [endpoint]="'api/CommercialWork/ManagerDocument'"
    [endpointGetData]="'api/CommercialWork/ManagerDocument/Filter'"
  >
  </app-invoices>
  