<div class="menu">
  <button class="menu-item" (click)="switchComponent('arrival', 2, 'invoices')">Приход</button>
  <button class="menu-item" (click)="switchComponent('expense', 3, 'invoices')">Расход</button>
  <button class="menu-item" (click)="switchComponent('expense', 1, 'products', '184623')">Остатки</button>
  <button class="menu-item" (click)="switchComponent('expense', 1, 'products', '936564')">Поставщики</button>
</div>

<ng-container *ngIf="typeComponent == 'invoices'">
  <app-invoices [counterpartyId]="'00000000-0000-0000-0000-000000000000'" [columns]="currentColumns"
    [paymentType]="paymentType" [buttonConfigs]="getButtonConfigs()" [totalInfoColumn]="totalInfoColumnInvoices"
    [generalForm]="true" [endpoint]="'api/CommercialWork/ManagerDocument'"
    [endpointGetData]="'api/CommercialWork/ManagerDocument/Filter'" [defaultFilter]="defaultFilters">
  </app-invoices>
</ng-container>
<ng-container *ngIf="typeComponent == 'products'">
  <app-additional-data [config]="productsConf">
  </app-additional-data>
</ng-container>