<div class="counterparties-list">

  <div class="settings">
    <button class="add-button" (click)="isEdit = true; isNewItem = true; openDialog($event); ">Добавить
      {{title}}</button>

    <app-custom-input [(ngModel)]="searchTerm" (valueChange)="onSearchChange($event)" [placeholder]="'Найти...'"
      class="search-input">
    </app-custom-input>

  </div>

  <ul>
    <li (click)="select('00000000-0000-0000-0000-000000000000', '')">
      <div class="counterparty-item">
        <span [class.active]="'00000000-0000-0000-0000-000000000000' === selectedId">Все</span>
      </div>
    </li>

    <li *ngFor="let counterparty of counterparties"
      (click)="!isForbiddenStatus(counterparty.editStatus) && select(counterparty.id, counterparty)"
      [class.disabled]="isForbiddenStatus(counterparty.editStatus)">
      <div class="counterparty-item" [class.disabled]="!isEditable(counterparty.editStatus)">
        <div style="       display: flex;
                flex-direction: column;
                align-items: flex-end;
            ">
          <span [class.active]="counterparty.id === selectedId" style="text-align: end;">{{ counterparty.shortName
            }}</span>
          <div class="status-tag">
            <span [ngClass]="{
                'status-not-checked': counterparty.editStatus === 1,
                'status-sent-for-check': counterparty.editStatus === 2,
                'status-approved': counterparty.editStatus === 7,
                'status-rejected': counterparty.editStatus === 3,
                'status-deleted': counterparty.editStatus === 6,
                'status-new-rejected': counterparty.editStatus === 4,  
                'status-update-rejected': counterparty.editStatus === 5,
                'status-active': counterparty.editStatus === 9 ,
                'status-new-rej': counterparty.editStatus === 10
            }" class="status-tag-text">
              {{ getStatusLabel(counterparty.editStatus) }}
            </span>
          </div>
        </div>
        <div class="actions">
          <button class="gear-btn" (click)="openMenu(counterparty.id, $event)">⚙️</button>
          <div *ngIf="menuOpenFor === counterparty.id" class="menu">
            <ng-container *ngFor="let button of getButtonSet()">
              <button class="menu-item" *ngIf="button.condition ? button.condition(counterparty) : true"
                [ngClass]="button.class" (click)="handleButtonClick(button, counterparty, $event)"
                [title]="button.titlePopUp">
                {{ button.label }}
              </button>
            </ng-container>

          </div>
        </div>
      </div>
    </li>
  </ul>




  <p-dialog [(visible)]="display" [modal]="true" [closable]="false" [style]="{width: '600px'}">
    <p-header>
      <span class="pi pi-pencil"></span> {{ selectedCounterparty ? 'Изменить контрагента' : 'Добавить контрагента' }}
    </p-header>

    <form [formGroup]="counterpartyForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">

        <!-- Краткое наименование -->
        <div class="p-field">
          <label for="shortName">Краткое наименование</label>
          <div class="field-wrapper">
            <input id="shortName" type="text" pInputText formControlName="shortName"
              placeholder="Введите краткое наименование" />
            <small *ngIf="oldPrototype?.shortName" class="text-muted old-value">Старое значение: {{
              oldPrototype.shortName }}</small>
          </div>
        </div>

        <!-- Полное наименование -->
        <div class="p-field">
          <label for="fullName">Полное наименование</label>
          <div class="field-wrapper">
            <input id="fullName" type="text" pInputText formControlName="fullName"
              placeholder="Введите полное наименование" />
            <small *ngIf="oldPrototype?.fullName" class="text-muted old-value">Старое значение: {{ oldPrototype.fullName
              }}</small>
          </div>
        </div>

        <!-- ИНН -->
        <div class="p-field">
          <label for="inn">ИНН</label>
          <div class="field-wrapper">
            <input id="inn" type="text" pInputText formControlName="inn" placeholder="Введите ИНН" />
            <small *ngIf="oldPrototype?.inn" class="text-muted old-value">Старое значение: {{ oldPrototype.inn
              }}</small>
          </div>
        </div>

        <div class="p-field p-col-12">
          <label for="tax">Налог</label>
          <p-dropdown id="tax" [style]="{ 'min-width': '120px', 'width': '100%' ,  'height': '36px', 'padding': '0'}"
            [panelStyle]="{ 'width': '100%' }" panelStyleClass="custom-dropdown-panel" formControlName="tax"
            [options]="taxes" optionLabel="label" [disabled]="!isEdit" appendTo="body"
            [scrollHeight]="'200px'"></p-dropdown>


        </div>

      </div>

      <p-footer>
        <button type="button" pButton label="Закрыть" icon="pi pi-times" class="p-button-secondary"
          (click)="display = false; isNewItem = false;"></button>
        <button type="submit" pButton label="Сохранить" icon="pi pi-check" [disabled]="counterpartyForm.invalid"
          *ngIf="isNewItem ==true || currentRole == 1" class="p-button-primary"></button>
      </p-footer>
    </form>
  </p-dialog>


</div>