.invoice-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        // position: absolute;
}

.invoice-table th {
    text-align: left;
    padding: 12px;
    background-color: #f4f7fa;
    color: #333;
    font-weight: 600;
    border-bottom: 2px solid #ddd;
}

.invoice-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.invoice-table tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.invoice-table tr.active {
    background-color: #e0f7fa;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn-edit,
.btn-delete {
    background-color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    font-size: 14px;
}

.btn-edit {
    color: #4caf50;
    border: 1px solid #4caf50;
}

.btn-edit:hover {
    background-color: #4caf50;
    color: white;
    transform: scale(1.1);
}

.btn-delete {
    color: #f44336;
    border: 1px solid #f44336;
}

.btn-delete:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    color: white;
    transform: scale(1.1);
}

.invoice-cell {
    word-wrap: break-word;
}

.invoice-row {
    transition: background-color 0.2s ease;
}


.btn-edit:focus,
.btn-delete:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.invoice-table {
    width: 100%;
    margin-top: 20px;
}

.invoice-row {
    cursor: pointer;
}

.actions button {
    margin: 0 5px;
}

.form-container {
    padding: 20px;
}

.p-formgrid .p-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.product-table td input,
.product-table td p-calendar {
    width: 100%;
}


:host ::ng-deep p-footer {
    width: 90%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}



.invoice-cell {
    font-size: 14px;
    color: #333;
}

.status-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 8px;
}

/* Статус "Не проверено" */
.status-not-checked {
    background-color: rgba(255, 193, 7, 0.1);
    /* Полупрозрачный желтый */
    color: #ffc107;
}

/* Статус "Отправлено на проверку" */
.status-sent-for-check {
    background-color: rgba(33, 150, 243, 0.1);
    /* Полупрозрачный синий */
    color: #2196f3;
}

/* Статус "Проверено" */
.status-checked {
    background-color: rgba(76, 175, 80, 0.1);
    /* Полупрозрачный зеленый */
    color: #4caf50;
}

/* Статус "Отклонено" */
.status-rejected {
    background-color: rgba(244, 67, 54, 0.1);
    /* Полупрозрачный красный */
    color: #f44336;
}

/* Статус "Удалена" */
.status-deleted {
    background-color: rgba(158, 158, 158, 0.1);
    /* Полупрозрачный серый */
    color: #9e9e9e;
}


.invoice-table {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.invoice-table .invoice-row {
    background-color: #f9f9f9 !important;
}

.invoice-table .invoice-cell {
    color: #333 !important;
}


:host ::ng-deep .p-dialog {
    background: #fff !important;
    color: #101010 !important;
}

:host ::ng-deep .p-inputtext,
.p-select,
.p-table {
    background: #fff !important;
    color: #101010 !important;
}

:host ::ng-deep .p-datatable-thead>tr>th,
.p-datatable-sort-icon,
.p-datatable-sort-badge,
.p-datatable-tbody > tr > td  {
    background: #fff !important;
    color: #101010 !important;
}

:host ::ng-deep .p-datatable-tbody > tr > td  {
    background: #fff !important;
    color: #101010 !important;
}

:host ::ng-deep .p-datatable-table {
    position: absolute;
}

:host ::ng-deep .p-datatable-tfoot{
    position: sticky;
    bottom: 0;
}