<button pButton label="Создать новый счет" icon="pi pi-plus" (click)="createNewInvoice()"></button>

<p-table [value]="invoices" class="invoice-table">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns">{{ col.header }}</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
        <tr (dblclick)="editInvoice(invoice.id)" class="invoice-row">
            <td *ngFor="let col of columns" class="invoice-cell">
                <ng-container *ngIf="col.field === 'dateTime'; else normalField">
                  {{ invoice[col.field] | date: 'dd-MM-yyyy HH:mm' }}
                </ng-container>
                <ng-template #normalField>
                  {{ invoice[col.field] }}
                </ng-template>
              </td>
            <td class="invoice-cell">{{ getStatusLabel(invoice.type) }}</td>
            <td class="actions">
                <button class="btn-edit" (click)="editInvoice(invoice.id)">✏</button>
                <button class="btn-delete" (click)="deleteInvoice(invoice.id)">🗑</button>
            </td>
        </tr>
    </ng-template>
</p-table>


<ng-container *ngIf="selectedInvoice">

    <!-- Форма редактирования счета -->
    <p-dialog [(visible)]="selectedInvoice" [modal]="true" [closable]="true" header="Редактирование счета-фактуры"
        (onHide)="onDialogClose()">
        <div class="form-container">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12">
                    <label for="number">Номер счета-фактуры</label>
                    <input id="number" [(ngModel)]="selectedInvoice.number" pInputText />
                </div>
                <div class="p-field p-col-12">
                    <label for="dateTime">Дата</label>
                    <p-calendar id="dateTime" [(ngModel)]="selectedInvoice.dateTime" [showTime]="false"></p-calendar>
                </div>
                <!-- <div class="p-field p-col-12">
                <label for="status">Статус</label>
                <p-dropdown id="status" [(ngModel)]="selectedInvoice.status" [options]="statuses" optionLabel="label"></p-dropdown>
            </div> -->
                <div class="p-field p-col-12">
                    <label for="stateNumberCar">Гос. номер автомобиля</label>
                    <input id="stateNumberCar" [(ngModel)]="selectedInvoice.stateNumberCar" pInputText />
                </div>
                <!-- <div class="p-field p-col-12">
                <label for="incomeSum">Приход сумма</label>
                <p-inputnumber id="incomeSum" [(ngModel)]="selectedInvoice.incomeSum"></p-inputnumber>
            </div>
            <div class="p-field p-col-12">
                <label for="expenseSum">Расход сумма</label>
                <p-inputnumber id="expenseSum" [(ngModel)]="selectedInvoice.expenseSum"></p-inputnumber>
            </div> -->
                <div class="p-field p-col-12">
                    <label for="type">Тип</label>
                    <p-dropdown id="type" [(ngModel)]="selectedInvoice.type" [options]="types"
                        optionLabel="label"></p-dropdown>
                </div>
                <div class="p-field p-col-12">
                    <label for="tax">Налог</label>
                    <p-dropdown id="tax" [(ngModel)]="selectedInvoice.tax" [options]="taxes"
                        optionLabel="label"></p-dropdown>
                </div>
                <button (click)="addProduct()">Добавить товар/услугу</button>
                <p-table [value]="selectedInvoice.productList">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Наименование товара</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-i="rowIndex">
                        <tr>
                            <td><input [(ngModel)]="product.name" pInputText /></td>
                            <td><p-inputnumber [(ngModel)]="product.quantity"></p-inputnumber></td>
                            <td><p-inputnumber [(ngModel)]="product.amount"></p-inputnumber></td>
                            <td><button (click)="removeProduct(i)">Удалить</button></td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
            <p-footer>
                <button pButton label="Сохранить" icon="pi pi-check" (click)="saveInvoice()"></button>
                <button pButton label="Отправить на проверку" icon="pi pi-check" (click)="sendingInvoice(selectedInvoice.id)"></button>
            </p-footer>
        </div>
    </p-dialog>


</ng-container>

<p-confirmDialog></p-confirmDialog>