<button pButton [label]="label" icon="pi pi-plus" (click)="createNewInvoice()" style="color: white;"></button>

<ng-container *ngIf="selectedInvoice">
    <p-dialog [(visible)]="dialogVisible" [modal]="true" [closable]="true" (onHide)="onDialogClose()"
        [style]="{width: '800px'}">
        <div class="form-container">
            <form [formGroup]="invoiceForm" class="form-container">
                <div class="p-fluid p-formgrid p-grid">

                    <!-- Общие поля -->
                    <div class="p-field p-col-12" *ngIf="employeeType == 1 || employeeType == 6">
                        <label for="productTargetId">Машина</label>
                        <app-custom-dropdown [options]="ProductTargetOptions" optionLabel="name" optionValue="id"
                            [selected]="invoiceForm.get('productTargetId')?.value"
                            (selectedChange)="onProductTargetChange($event)">
                        </app-custom-dropdown>
                        <small
                            *ngIf="invoiceForm.get('productTargetId')?.touched && invoiceForm.get('productTargetId')?.invalid"
                            class="p-error">Это поле обязательно</small>
                    </div>

                    <!-- Месяц и год -->
                    <div class="p-field p-col-12 p-md-6">
                        <label for="selectedMonth">Месяц</label>
                        <select class="modern-select" formControlName="selectedMonth" (change)="onMonthYearChange()"
                            name="month">
                            <option *ngFor="let month of months" [value]="month.value">
                                {{ month.name }}
                            </option>
                        </select>
                        <small
                            *ngIf="invoiceForm.get('selectedMonth')?.touched && invoiceForm.get('selectedMonth')?.invalid"
                            class="p-error">Это поле обязательно</small>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="selectedYear">Дата</label>
                        <input type="date" formControlName="selectedYear" (click)="showDatePickerWithMonth($event)"
                            (focus)="showDatePickerWithMonth($event)" (change)="onMonthYearChange()" #dateInput>
                        <small
                            *ngIf="invoiceForm.get('selectedYear')?.touched && invoiceForm.get('selectedYear')?.invalid"
                            class="p-error">Это поле обязательно</small>
                    </div>

                    <!-- Список водителей с суммами -->
                    <div class="p-field p-col-12">
                        <div class="drivers-section">
                            <div class="section-header">
                                <label>Назначения и суммы</label>
                                <button pButton type="button" label="Добавить" class="p-button-rounded p-button-text"
                                    (click)="addDriverRow()">

                                </button>
                            </div>

                            <!-- Таблица/список водителей -->
                            <div class="drivers-list" formArrayName="drivers">
                                <div *ngFor="let driver of driversArray.controls; let i = index" [formGroupName]="i"
                                    class="driver-row p-grid">

                                    <!-- Выбор водителя -->
                                    <div class="p-col-7" style="width: -webkit-fill-available;">
                                        <app-custom-dropdown [options]="ProductTargetOptions" optionLabel="name"
                                            optionValue="id" [selected]="driver.get('driverEmployeeId')?.value"
                                            (selectedChange)="onDriverChange(i, $event)"
                                            placeholder="Выберите водителя">
                                        </app-custom-dropdown>
                                        <small
                                            *ngIf="driver.get('driverEmployeeId')?.touched && driver.get('driverEmployeeId')?.invalid"
                                            class="p-error">Выберите водителя</small>
                                    </div>

                                    <!-- Сумма -->
                                    <div class="p-col-4">
                                        <app-custom-input-number formControlName="amount" [min]="0" placeholder="Сумма">
                                        </app-custom-input-number>
                                        <small *ngIf="driver.get('amount')?.touched && driver.get('amount')?.invalid"
                                            class="p-error">Некорректная сумма</small>
                                    </div>

                                    <!-- Кнопка удаления -->
                                    <div class="p-col-1">
                                        <button pButton type="button" class="p-button-danger p-button-text"
                                            (click)="removeDriverRow(i)" [disabled]="driversArray.length === 1"
                                            tooltip="Удалить">
                                            <svg viewBox="0 0 24 24" style="    fill: #101010; width: 20px;">
                                                <path fill="currentColor"
                                                    d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Итоговая сумма -->
                            <div class="total-amount p-grid" *ngIf="driversArray.length > 0">
                                <div class="p-col-7 total-label">
                                    <strong>Общая сумма:</strong>
                                </div>
                                <div class="p-col-5 total-value">
                                    <strong>{{ calculateTotalAmount()}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <p-footer>
                <button pButton label="Сохранить" (click)="saveData()" [disabled]="driversArray.length === 0">
                </button>
                <button pButton label="Отмена" (click)="onDialogClose()" class="p-button-secondary">
                </button>
            </p-footer>
        </div>
    </p-dialog>
</ng-container>

<p-confirmDialog></p-confirmDialog>

<app-unsaved-changes-dialog *ngIf="showConfirmDialog" (confirmClose)="confirmCloseDialog()"
    (cancelClose)="hideConfirmDialog()"></app-unsaved-changes-dialog>