<p-dialog [header]="modalTitle" [modal]="true" [closable]="false">
    <div class="p-grid">
        <div class="p-col-12" *ngFor="let field of referenceBookService.formFields">
            <label>{{ field.label }}</label>
            <input *ngIf="field.type === 'text'" pInputText [(ngModel)]="modalData[field.field]" />
            <p-datepicker  *ngIf="field.type === 'date'" [(ngModel)]="modalData[field.field]"></p-datepicker >
            <p-dropdown *ngIf="field.type === 'enam'" [(ngModel)]="modalData[field.field]" [options]="field.values"
                optionLabel="name" optionValue="code"></p-dropdown>
        </div>
    </div>
    <p-footer>
        <button pButton label="Сохранить" (click)="onSubmit()"></button>
        <button pButton label="Отмена" class="p-button-secondary" (click)="closeModal()"></button>
    </p-footer>
</p-dialog>