.date-filter-sort {
    font-family: "Arial", sans-serif;
    display: flex;
    transition: all 0.3s ease;
    flex-direction: row;
    position: relative;
}

.date-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.date-box input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.date-box input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.filter-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background-color: #0056b3;
}

.filter-dropdown {
    margin-top: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    // width: 100%;
    max-width: 325px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filter-dropdown label {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    color: #101010;
}

.filter-dropdown label:hover {
    background-color: #e9ecef;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.calendar-container input[type="date"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calendar-container input[type="date"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.calendar-container span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.sort-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.sort-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .date-filter-sort {
        padding: 15px;
        margin: 10px;
    }

    .date-box input,
    .calendar-container input[type="date"],
    .sort-btn {
        font-size: 16px;
        padding: 12px;
    }

    .filter-btn {
        font-size: 16px;
        padding: 12px;
    }

    .filter-dropdown {
        padding: 12px;
    }

    .filter-dropdown label {
        padding: 10px;
    }
}