<div class="menu">
    <button class="menu-item" (click)="showComponent('invoices')">Фактуры</button>
    <!-- <button class="menu-item" (click)="showComponent('products')">Товары</button> -->
</div>

<div *ngIf="selectedComponent === 'invoices'">
    <app-invoicesdata [counterpartyId]="counterpartyId" [columns]="columnsInvoices"
        [totalInfoColumn]="totalInfoColumnInvoices" [endpoint]="'api/CommercialWork/DocInvoice/Filter'"></app-invoicesdata>
</div>
<!-- <div *ngIf="selectedComponent === 'products'">
    <app-products [counterpartyId]="counterpartyId" [columns]="columns" [totalInfoColumn]="totalInfoColumn"
        [endpoint]="'api/CommercialWork/Product/Filter'"></app-products>
</div> -->
