<div class="search-filter-sort">
    <!-- Поле поиска -->
    <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Поиск..."
            style="width: 100%;" />
        <button class="filter-btn" (click)="toggleFilter()">▼</button>
    </div>



    <!-- Выпадающий список фильтров -->
    <div class="filter-dropdown" *ngIf="isFilterOpen">
        <label *ngFor="let item of products">
            <input type="checkbox" [checked]="selectedFilters.includes(item.id)" (change)="onFilterChange(item.id)" />
            <span>{{ item.label }}</span>
        </label>
    </div>


    <!-- Кнопка сортировки -->
    <button class="sort-btn" (click)="toggleSort()">
        {{ sortOrder === 'asc' ? '⬆' : '⬇' }}
    </button>
</div>

<button *ngIf="selectedFilters && selectedFilters.length > 0" class="btn btn-clear-filter" (click)="resetFilter()">
    Сбросить фильтр
</button>
